.FilterableProductTableContainer{
  margin-top: 10%;
  margin-left: 10%;
  padding-left: 5%;
  width: max-content;
}
table{
  width: 200px;
}



.category{
  text-align: center;
}


.stockexpire{
  color: red;
}


#search{
  margin-left: 5%;
}
